* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
    /* background-color: black; */
}

body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    background-size: cover;
}
span{
    color:Yellow;
}
#main-welcome{
    color: aliceblue;
}